
<h3>Projects</h3>

<table class="table_data">
  <thead>
  <tr>
    <th>Task</th>
    <th>Created Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

<% @tasks.each do |task| %>
  <tr>
    <td width="200"><%= task.title %></td>
    <td width="700"><%= task.created_at.strftime('%b %d, %a') %></td>
    <td></td>
    <td><%= link_to 'Edit', edit_task_path(task) %></td>
    <td><%= link_to 'Delete', task, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Add Project', new_task_path %>
