<h3>Leader Board</h3>

<table class="table_data">
    <thead>
      <tr style="font-size: 14px;">
        <th width="100%">Name</th>
        <th>Email</th>
        <th>Entries</th>
        <th>Score</th>
       <%if current_user.email == "ikebarnes@gmail.com"%>
        <th></th>
        <th></th>
        <th></th>
         <%end%>
      </tr>
    </thead>

<% @users.sort{ |a,b| a.clocks.size <=> b.clocks.size }.reverse.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.email %></td>
    <td><%= user.clocks.count %></td>
    <td><%= user.clocks.count  * 7%></td>
    <%if current_user.email == "ikebarnes@gmail.com"%>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Delete', user, :confirm => 'Are you sure?', :method => :delete %></td>
    <%end%>
  </tr>
<% end %>
</table>

<br />


