

  <h3>My Time</h3>
   <% @clock_days.sort.each do |month, clocks| %>
 
    <h5><%= month.strftime('%b %d, %a') %></h5>
  <table class="table_data">
    <thead>
      <tr style="font-size: 14px;">
        <th>Name</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Hours Worked</th>
        <th>Project</th>
       
        <th></th>
      </tr>
    </thead>
     <% for clock in clocks %>
        <tr>
          <td width="250"><%= link_to clock.user.name, clock_path(clock) %>  </td>
          <td width="150" >
            <%=

              clock.time(0).strftime("%I:%M %p")

          %>
          </td>
          <td width="150" >
            <%=
           if clock.user.doneforday?(clock.created_at)
              clock.time(1).strftime("%I:%M %p")
            end
          %></td>
          <td width="230">
            <%=
            if clock.user.doneforday?(clock.created_at)
              distance_of_time_in_words(clock.time(0) ,clock.time(1), false).sub('minutes','min')
            end
          %>
          </td><td width="310"><%=clock.task.title%></td>
         
          <td width="60"><%
              if current_user
                if current_user == clock.user
                %><%= link_to 'Edit', edit_clock_path(clock) %>
          <%
                end
              end
          %>
          </td>

          
        </tr>
     <%end%>
  </table>
     
    <% end %>
