<!DOCTYPE html>
<html>
  <head>
    <title>Teamtime</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :defaults %>
    <%= csrf_meta_tag %>
    <link href='http://fonts.googleapis.com/css?family=Varela' rel='stylesheet' type='text/css'>
   <script type="text/javascript">
  var uvOptions = {};
  (function() {
    var uv = document.createElement('script'); uv.type = 'text/javascript'; uv.async = true;
    uv.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'widget.uservoice.com/AutjcNvkSM55in66EYXA.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(uv, s);
  })();
</script>
  </head>
  <body>
    <div id="header" style="width:100%">

      <div class="container_12 " id="top_nav" >

        <div id="logo" class="grid_8">Team Time</div>
        <div id="user_nav" class="grid_3" style="width:260px;" >
          <% if current_user %>
            <%= current_user.name%> &nbsp;&nbsp;
            <%= link_to "Log out", log_out_path, :style=>'color:#fff;' %>
          <% else %>
            <%= link_to "Sign up", sign_up_path, :style=>'color:#fff;' %>  &nbsp;&nbsp;
            <%= link_to "Log in", log_in_path, :style=>'color:#fff;' %>
          <% end %>
        </div>
        <% flash.each do |name, msg| %>
          <%= content_tag :div, msg, :id => "flash_#{name}" %>
        <% end %>
      </div>
    </div>

    <div class="container_12"  >

      <div class="grid_12" style="text-align:center;">
        <div id="subTabs" >
          <ul>
            <%
            if params[:controller].to_s + '#' +params[:action].to_s != 'users#new' %>
            <%if !current_user.doneforday?(Time.now)%>
              <li><%= link_to "Check " + current_user.inout,time_path  %></li>
            
              <li><img src="/images/bar1.gif"></li>
<%end%>

              <li><%= link_to 'My Time',mytimesheet_path  %></li>
              <li><img src="/images/bar1.gif"></li>
              <li><%= link_to 'Team Time',dashboard_path  %></li>
              <li><img src="/images/bar1.gif"></li>
              <li><%= link_to 'Leaderboard'  ,users_path  %></li>
              <li><img src="/images/bar1.gif"></li>
              <% if current_user.last_name=="Barnes"%>
                <li><%= link_to 'Projects'  ,tasks_path  %></li>
                <li><img src="/images/bar1.gif"></li>

              <%end%>

            <%end%>
          </ul>
        </div>
      </div>
      <div class="grid_12" id="main">
        <div class="wrapper" style="padding: 20px 20px;">
          <%= yield %>
        </div>
      </div>
    </div>

  </body>
</html>
